[2016-09-20 07:29] n1mmy opened #1 "Add client type detection"
Use something like https://github.com/3rd-Eden/useragent to fill out client platform.

[2016-09-20 07:30] n1mmy opened #2 "Add unit tests"
Things like query normalization are perfect for unit tests.

[2016-09-20 07:30] n1mmy opened #3 "Add end-to-end tests"
Run real queries against a real graphql server and see that correct reports are generated.

[2016-09-20 07:32] n1mmy opened #4 "Align reports intervals to minute boundaries"
To help improve end-to-end latency, we should align the reporting intervals on the client with minute boundaries of the system clock.

(Note the report interval and the time we submit the report can be different. It might be worth waiting 5--45 sec after the minute to send the report, to spread load on the ingress tier)

[2016-09-20 07:32] n1mmy opened #5 "Improve query normalization"
https://github.com/apollostack/optics-agent/blob/master/docs/signatures.md

[2016-09-20 07:34] n1mmy opened #6 "Use debugFn everywhere"
The Agent API allows passing a debugFn to control logging. Actually use this to control logging.

[2016-09-20 07:35] n1mmy opened #7 "Add retry logic to report submission"
Right now reports are dropped if the initial POST fails. Do some intelligent retrying.

[2016-09-20 07:36] n1mmy opened #8 "Support array of promises returned from resolver"
Support the full set of options for return values for resolvers when wrapping (incl arrays/promises/values)

[2016-09-20 07:38] n1mmy opened #9 "Actually fill out optics agent version number in report header"
Get the version number from package.json or something so we don't always have to change it in two places.

[2016-09-20 07:39] n1mmy opened #10 "Allocate server id for traces"
currently the server id field is left blank, despite being required.

[2016-09-20 07:41] n1mmy opened #11 "Fill out `details` field on traces"
It is currently empty

[2016-09-20 07:42] n1mmy opened #12 "Fill out `http` field on traces"
It has some values currently, but not everything in the spec.

[2016-09-20 07:42] n1mmy opened #13 "Update to latest protobuf"
remove deprecate fields (eg `auth_token`)

[2016-09-20 07:43] n1mmy opened #14 "Get `service_version` in header"
something with git describe at run time?

[2016-09-20 07:44] n1mmy opened #15 "Error counts"
Count errors and fill out `error_counts` fields in stats histogram.

[2016-09-20 07:46] n1mmy opened #16 "Don't drop samples from queries that run over the report interval bounary"
Right now when a query is running over the report interval boundary, some of its resolvers will not be recoreded properly. Figure out how to record them. See Report.js/reportResolver.

[2016-09-20 07:47] n1mmy opened #17 "Clean up exception handling"
The agent has inconsistent exception handling. Settle on one pattern and use it everywhere.

[2016-09-20 07:47] n1mmy opened #18 "Look at x-forwarded-for header for trace client addr"

[2016-09-22 00:48] zhenyasav opened #19 "Prefix all logs"
Something nice like `optics-agent:` would mean a world to developers who get surprised by random messages in their servers

[2016-09-27 02:47] n1mmy commented on #19
Good idea! Will do this as part of #6 (centralizing logging in one function)

[2016-09-27 02:47] #19 closed

[2016-09-27 02:47] n1mmy commented on #6
Also print a nice prefix from debugFn to help developers (see #19)

[2016-09-27 03:44] n1mmy commented on #9
This will be important to help track down customer issues.

[2016-09-27 03:55] #9 closed

[2016-09-27 04:32] n1mmy opened #20 "Include fields with no explicit resolver function in stats."
We'd do this by providing and wrapping a no-op resolver in `instrumentSchema`

Not sure this is a good idea - it may impact server performance.

We can already get the number of times the field appears in _queries_ without this. This is only to get how many times such fields show up in _results_

[2016-09-27 05:43] #8 closed

[2016-09-27 05:47] n1mmy commented on #10
What will this be used for in v1?

[2016-09-28 19:24] zhenyasav commented on #20
- let's show in reports that a resolver function is missing (post GA)

[2016-09-28 19:38] zhenyasav commented on #10
- make optional
- rename field in protobuf and gql schema to something more like `userTraceId`
- introduce another id `serverId` representing the unique process id for the server

[2016-09-28 22:44] zhenyasav opened #21 "Send a last report on server death"
Without this we'll see dips on every server deploy

[2016-09-29 23:43] #11 closed

[2016-09-29 23:50] zol opened #22 "Reduce scope for user error during setup"
Currently, setting up the agent requires 4 distinct steps. Omitting or making mistakes during some of these steps will lead to silent failure and a potentially frustrating on-boarding experience. Can we reduce the number of steps? In the ideal world, there is only a single step and all parameters can be validated/errors thrown in that step.

Currently we have:

1. Configure API key: `const agent =

[2016-09-29 23:51] zol commented on #22
Marking this as P1 rather than P0 because it's not a fire however this will be hard to change post GA.

[2016-10-01 04:02] n1mmy commented on #5
Closed via #23

[2016-10-01 04:02] #5 closed

[2016-10-01 04:06] n1mmy commented on #22
@zol I thought about this when designing the API. I couldn't come up particularly with ways to make it simpler.

We could make `schema` an option to `new OpticsAgent` as they are 1:1 (at least currently). Personally, I find that complicates my mental model of the API, it doesn't make it clear that the software is modifying the schema.

We can also make the agent complain if any of the steps are om

[2016-10-03 17:16] zol commented on #22
Got it, I like the current API as well. I'll think about how we could simplify these steps some more as I work with the code.

[2016-10-05 23:31] n1mmy opened #24 "Allow creating multiple copies of the agent object"
This makes the developer experience easier as you don't have to pass the object through various bits of the code.

[2016-10-05 23:43] n1mmy opened #25 "Allow multiple optics agents on the same schema"
This is useful for us in testing (sending reports to staging and production).

Right now this won't work with the current agent as it protects against double schema wrapping.

[2016-10-05 23:49] n1mmy opened #26 "Note in docs that order of instrumenting is not important"

[2016-10-06 00:07] n1mmy opened #27 "Way to get mock data from an agent"
This will ease backend development locally on developer laptops.

It could be as simple as a test app that runs a bunch of queries. However, this won't get, for example, data across a wide time range.

[2016-10-06 00:08] n1mmy commented on #20
Yes, lets try this.

[2016-10-06 02:11] #20 closed

[2016-10-06 02:14] n1mmy commented on #26
Related #22

[2016-10-06 02:14] n1mmy commented on #24
Related #22

[2016-10-06 02:36] n1mmy commented on #25
Hrm… hit a big snag in here. The API for the agent as designed doesn’t really work for more than one agent per graphql request. Because of both the `opticsContext` object in the graphql context, and the `req._opticsContext` field we stash on the http request object.

We could make things work by storing `context.agents` as a list instead of `context.agent` and doing a forEach in a bunch of places

[2016-10-06 02:38] n1mmy commented on #27
This could go well with end-to-end tests, too (#3)

[2016-10-07 00:18] n1mmy commented on #24
Fixed (in a different way) in #28

[2016-10-07 00:18] #24 closed

[2016-10-07 00:18] n1mmy commented on #26
Done in #28

[2016-10-07 00:18] #26 closed

[2016-10-07 00:20] n1mmy commented on #22
Some progress on this in #28. Now you don't have to make a `new Agent` and instead optionally call `configureAgent` if you want to set options. Also, you don't have to pass around the `agent` object between instrumentation call-sites, there is a global default agent that can be shared.

[2016-10-07 18:43] n1mmy opened #29 "trim newline from server error messages"
when we print them

[2016-10-12 06:02] n1mmy commented on #13
Fixed in #31

[2016-10-12 06:02] #13 closed

[2016-10-12 20:31] n1mmy opened #32 "Clarify internal state held by agent"
Refactor the `pendingResults` object in Agent into a class. This will help code readability, and provide a natural point for testing.

[2016-10-12 20:33] n1mmy opened #33 "Move aggregation of resolver stats to query-end not resolver-run"
We already hold everything in memory (`resolverReports`). Just move adding to the Agent's latency buckets to reportRequestEnd instead of at resolver end time.

In addition to simplifying the code, this will also sidestep the issues arising in #16.

[2016-10-12 20:34] n1mmy commented on #16
This should be handled by #33

[2016-10-12 20:34] #16 closed

[2016-10-13 01:39] n1mmy opened #34 "Make trace reports include hierarchy"
Right now we do not capture the hierarchy structure of resolver execution in traces. All resolvers are listed as children of the root node.

As of GraphQL 0.6.1 we actually _do_ have the data we need to build the hierarchy. Thanks @Slava!

Use this data to report resolver executions as designed, instead of flattened.

[2016-10-13 17:46] grydstedt opened #35 "Protect against disabled agent"
Was debugging something in production and had to disable optics agent to identify cause of issue. The agent seems to not deal well with being half integrated:

If the agent is just instantiated without being hooked up in middleware I get this error:
[node_modules/optics-agent/dist/Report.js:273] EEE [TypeError: Cannot read property 'getTypeMap' of undefined]

If the agent is instantiated and `inst

[2016-10-13 22:41] n1mmy commented on #35
Good point! Thanks, @grydstedt!

[2016-10-13 22:46] n1mmy commented on #35
Related #17. The `EEE` is an example of the poor error handling to be reworked.

We should probably log once (at startup or first query depending on the exact way the agent was disabled) saying what's wrong and why the agent is disabled. This can also help towards making the setup dev ux smoother (#22)

[2016-10-13 23:11] grydstedt commented on #35
Sounds good!

[2016-10-17 22:33] glasser commented on #4
Why does this improve end-to-end latency?

[2016-10-17 22:39] glasser commented on #22
There could also just be improved diagnostics if you get this wrong. For example, if you don't run the middleware before calling `OpticsAgent.context`, the agent currently recovers gracefully (with a "this shouldn't happen" comment) rather than telling the user they screwed up.  If you forget to call `instrumentSchema`, nothing catches it, though perhaps `OpticsAgent.context` could.

[2016-10-17 22:47] glasser opened #42 "use a consistent release process which leaves git tags"

[2016-10-17 22:47] glasser opened #43 "maintain a changelog file"

[2016-10-18 18:07] glasser opened #45 "document what information is sent to the Optics servers"
technically this could be documented under normalizeQuery but probably somewhere else.

[2016-10-18 23:22] glasser opened #46 "Simplify API by removing OpticsAgent.context()"
We can have a simpler API: instead of an undocumented `req._opticsContext` and a required function `OpticsAgent.context()`, we can just document that the middleware puts an object on `req.opticsContext` and make it your responsibility to pass that on to GraphQL.

This is similar to how, say, [body-parser](https://www.npmjs.com/package/body-parser) is a middleware that populates `req.body`.

Everyt

[2016-10-18 23:25] n1mmy commented on #46
I like this idea. Related #22

[2016-10-18 23:53] glasser commented on #46
Note that reportRequestEnd currently accesses _opticsContext too

[2016-10-19 00:04] glasser commented on #46
That said I see this code in:

[code]

Is this comment still relevant? Unclear to me how this could ever happen, since this function is called from inside the schema-level resolver...

[2016-10-19 00:20] glasser opened #47 "optics not fully compatible with transport-level batching"
The optics agent instrumentation assumes only one query operation per HTTP request.

At the very least, this is implied where the schema-level resolve function takes its `info` and puts it in a single `info` slot on the HTTP-request-level `opticsContext` object.

There are two ways that this can be broken:
- Using apollo-client/server's transport-level batching, multiple "query documents" get sent

[2016-10-19 00:33] glasser commented on #47
Whoops, "multiple query operations per document" isn't actually a problem — while you can specify multiple queries in a document, you must still tell graphql which specific operation to run.  But transport-level batching is.

[2016-10-19 00:38] glasser commented on #47
Note that this also means that durationHrTime is of *all queries on the request*.

[2016-10-19 00:50] glasser commented on #47
So yeah — this opens a legit but real product question as to how we should treat transport-level batching, which might affect product UI, the protobuf, etc.

[2016-10-19 02:36] n1mmy commented on #47
Here's the plan at the moment: for transport level batching, we report N separate queries (one for each in the batch) and each query with have the same start and end time (the start and end of the batch). Resolver timings will still be relative to the start of the query, which will be the same as the start of the batch. Thus, in the UX the user will see a trace with a long time line, and resolvers

[2016-10-19 03:18] glasser commented on #47
I suggest chatting with @helfer to see if the batch transport protocol is
something we hope to see non Apollo GraphQL clients and servers adapt. If
so maybe the context object should not include the word "Apollo".

Does this call for an extra field in the protobuf too?

[2016-10-19 03:23] stubailo commented on #47
I think many GraphQL servers will want _some_ kind of batching, so we will want to have a way for people to instrument their server for that.

[2016-10-19 03:29] glasser commented on #47
I suggest also including a batchSize field or something (such that batchIndex ranges from 0 to batchSize-1). Maybe it's not necessary for the agent but if we're coming up with an informal protocol for telling graphql about transport batches, might as well include it.

[2016-10-19 03:32] n1mmy commented on #47
@glasser Good idea! Will add `apolloBatchSize` as well as `apolloBatchIndex`

[2016-10-19 03:32] n1mmy commented on #47
(including apollo in the namespace was @helfer 's call. If he changes his mind, I'm happy to change the PR =)

[2016-10-19 04:20] n1mmy commented on #45
This seems like something maybe we should address right up front in the readme. A section on "what data gets sent" and calling out the "reportVariables" flag for privacy.

[2016-10-20 19:30] n1mmy commented on #18
Add a config option for people to set how many hops they expect, to prevent forgery?

[2016-10-20 22:47] #33 closed

[2016-10-20 23:18] glasser opened #51 "it's unclear what fields/methods on Agent are a public stable API"
Agent has a dozen data fields and at least one undocumented method (sendReport). It's unclear if users are allowed to regard this as part of a stable public API or not.  We certainly don't intend that to be the case.

Options:
- Do something like underscoring private options, though that seems a little passé (eg, AirBNB says not to do it and we should regard anything accessible as public)
- Docume

[2016-10-20 23:21] glasser commented on #17
Maybe just use 'error' events on the OpticsAgent?

[2016-10-21 21:57] n1mmy opened #53 "Complete whitespace normalization"
Currently, `normalizedPrinter.js` removes almost all semantically unimportant whitespace. However, there are still some cases where it outputs whitespace that could be removed without changing the semantic meaning of the query.

Finish the job by making sure _all_ semantically unimportant whitespace is removed.

This might as simple as a few more tweaks to normalizedPrinter.js, or it might be easi

[2016-10-21 23:12] #47 closed

[2016-10-22 00:55] glasser opened #55 "code review feedback on Proto.js primarily"
- "seperate" -> "separate"
- Maybe just use fs.readFileSync for the proto file? Then you get syntax highlighting and such.
- Why are the pieces of Id128 signed?
- HTTPInfo probably should have response status code
- Why is the child field `[(optional)=false]`? That would require all trees to be infinite.

Also in Report.js, factor out the ReportHeader constructor into a helper or just a top-level

[2016-10-22 01:05] n1mmy commented on #55
These are questions for https://github.com/apollostack/optics-agent/blob/master/proto/reports.proto . I'm just copying that.

I'd really rather avoid adding blocking I/O to everyone's server startup! I think the way to a separate file (and thus syntax highlighting) is to do it at compile time with a babel plugin or the like, not at run time.

Good catch! Thanks.

Yup, good call.

[2016-10-24 18:39] glasser commented on #55
OK I guess these are questions for @pcarrier ?

Why is fs.readFileSync bad but having multiple js files that require/import each other OK? Pretty sure Babel isn't compiling the package into a single file, and it's blocking I/O either way. https://github.com/nodejs/node/blob/master/lib/module.js#L581

[2016-10-24 19:06] pcarrier commented on #55
There can be 0 children. For repeated fields, `[(optional)=false]` really only means "can't ignore".

Historical mistake.

SGTM. PR welcome :)

[2016-10-24 19:07] glasser opened #57 "agent assumes that resolvers don't return Promises that return Promises"
I have not tested it, but my interpretation of https://github.com/graphql/graphql-js/blob/bc4916a886d248c2d4ef64a914edc250bbaa69b3/src/execution/execute.js#L727-L747 is that resolvers are allowed to return Promises that return Promises that return Promises that return Promises that return real data.  The agent instrumentation code does not allow that, so it will incorrectly decide that a resolver

[2016-10-24 19:08] glasser opened #58 "resolverReport.resultNull and resultUndefined fields aren't set if the null or undefined is returned via a Promise"
Is this intentional? If so, there should be a comment making that really clear. But I don't see why that would be a feature.

[2016-10-24 19:09] glasser commented on #58
Actually these fields are never read and should just be deleted per @n1mmy.

[2016-10-24 19:14] glasser commented on #57
Also via reading of execute.js, it looks like graphql-js allows you to return a list of list of promises, which is not a case that the decorator supports.

[2016-10-24 19:20] benjamn commented on #57
Not sure I'm responding to your exact concern, but In JS there's no such thing as a Promise whose result type is a Promise, because Promises are automatically unwrapped, meaning a Promise returned by a .then callback will just delay the resolution of the enclosing Promise.

[2016-10-24 19:22] benjamn commented on #57
Oh, I see what you mean. Sounds like the agent needs to wrap Promise.prorotype.then perhaps?

[2016-10-24 19:38] glasser commented on #57
I definitely could be confused here — I'm really not an expert on the Promise API and often get confused.

Let's say you have a promise that returns a promise that returns 42.

If you do a `firstPromise.then(res => console.log(res))` will you print 42 or the second promise?

It sounds like you're saying 42, which would mean the agent is correct. But then the graphql-js code confuses me?

[2016-10-24 19:39] glasser commented on #57
(In any case, it does look like the graphql-js code supports things like "return an array of promises of arrays of promises of arrays of ..." which the agent doesn't support and any built-in Promise support wouldn't either)

[2016-10-24 19:39] glasser commented on #55
I don't understand what "can't ignore" means. It's actively confusing to me to have "[(optional)]" tags on repeated fields right now. Can you document what it means in the file?

[2016-10-24 19:45] pcarrier commented on #55
It means it's not an optional feature. Expect the product to be broken if you don't make it correct. Correct doesn't mean nonempty for arrays (repeated) or maps.

[2016-10-24 20:38] glasser commented on #55
OK, that's a strange meaning of optional to me, and nothing like the required/optional concept of earlier versions of protobuf.

So what you're saying is that:

[code]

you can have zero parse Nodes for two different reasons: because there really are no Nodes, or because you didn't feel like including it on this request? And there's no way to differentiate between those two cases?  That seems like

[2016-10-24 22:16] n1mmy commented on #55
That's a really good point. I hadn't thought about it that way. One answer is "it's not different, the performance characteristics are the same." Another is "it is different because people reading with naively see 'readFileSync' and think 'thats bad!'". Not sure how true that is, but it seems plausible. Could be addressed with a comment, though.

Anyway, I don't think it's worth changing right thi

[2016-10-24 22:45] #35 closed

[2016-10-24 23:56] pcarrier commented on #55
That's protobuf 3 for you.

[2016-10-25 00:42] glasser commented on #32
Why not just make `pendingResults` be a `Proto.StatsReport` object?  Or a `map<string, StatsPerSignature>`? That's already a class that contains the exact data as pendingResults. As far as I can tell, the only thing `sendReport` does other than convert between the temporary representation and the StatsReport is add in some top level fields and trim latency buckets.  It wouldn't be hard to just tri

[2016-10-25 00:47] glasser commented on #32
OK, I guess the difference is that StatsPerSignature lists types and their fields as lists rather than as maps.  (Though maybe that's just a place where the protocol could be improved? I'm not sure why maps are appropriate for per_signature and per_client_name but not for per_type or field.  I dunno, last time I used protobuf it didn't have maps :) )

[2016-10-25 02:48] n1mmy opened #60 "Set a minimum reportInterval"
So people don't accidentally spam our ingress.

[2016-10-25 04:43] #60 closed

[2016-10-25 18:11] glasser commented on #55
https://github.com/nodejs/node/blob/master/lib/module.js#L581

[2016-10-25 21:56] glasser commented on #55
highlighting and such.

I think the way to a separate file (and thus syntax highlighting) is to do
it at compile time with a babel plugin or the like, not at run time.

Why is fs.readFileSync bad but having multiple js files that require/import
each other good? Pretty sure Babel isn't compiling the package into a
single file, and it's blocking I/O either way.

[2016-10-31 03:08] pcarrier commented on #4
Let's make sure not to send the reports immediately, and think about the implications for trace report herding.

[2016-10-31 13:00] chompomonim opened #62 "Koa2 support for optics-agent-js"
I'm using `graphql-server-koa` and it would be good to have optics-agent for it.

[2016-10-31 22:00] n1mmy opened #63 "Add support for AWS Lambda"
In Lambda, you don't get a Node HTTP IncomingMessage object (aka `req`). The information from request is still available, but through an amazon specific API (Example here: http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-create-api-as-simple-proxy-for-lambda.html )

For this to work, either (or both... not mutually exclusive):
a) We add AWS specific code to make integration

[2016-11-10 05:08] stubailo commented on #34
BTW: https://github.com/graphql/graphql-js/pull/562

[2016-11-11 20:15] stubailo opened #66 "Use default resolve function from GraphQL.js package"
Recently added in GraphQL.js 0.8: https://github.com/graphql/graphql-js/pull/527

[2016-11-18 03:00] n1mmy commented on #43
Added a Changelog file. We should maintain this as we go forward.

[2016-11-18 03:00] #43 closed

[2016-11-18 23:00] ThisIsMissEm commented on #57
I feel like this would be an appropriate point to note that the code here could also be simplified, using just `Promise.all` on all array values, no matter if they're promises or not.

https://github.com/apollostack/optics-agent-js/blob/master/src/Instrument.js#L172-L177

[2016-11-22 07:38] linonetwo opened #68 "OPTICS Error trying to report to optics backend"
I'm trying this, in optics.apollodata.com/service/graphqlexperiment

But console continue logging:
OPTICS Error trying to report to optics backend: connect ETIMEDOUT 216.58.197.19:443

I tried to ping 216.58.197.19, all timeout.

Maybe this IP is block by China National Firewall?

[2016-11-22 19:59] pcarrier commented on #68
@linonetwo it does sound like it. Those are Google App Engine "frontend" IPs (they're not specific to Optics).

[2016-11-22 20:01] pcarrier opened #69 "Optics shouldn't complain on every single request when not fully initialized"
from #optics-agent-dev:
[code]

[2016-11-23 00:59] pcarrier commented on #69
This was actually for the Ruby agent. Keeping this issue so we can double-check for JS too.

[2016-11-23 02:21] pcarrier commented on #51
@Crevil TypeScript migration is ongoing. No concrete delivery plans yet but stay tuned in #optics on the Apollo Slack!

[2016-11-23 09:55] linonetwo commented on #68
So, are there any alternatives?

I can't bypass this problem even using agent in server side, let alone when using client side schema.

[2016-11-23 18:07] pcarrier commented on #68
@linonetwo we do not support client-side reporting at the moment as optics-agent-js is tied to nodejs.

We do not currently have alternatives but that might change in the future.

[2016-11-29 13:00] kesla commented on #62
Hey,

Any ETA on this? We're using koa2 and graphql, so this is currently blocking us to be able to use optics.

[2016-12-05 19:27] glasser opened #72 "README should suggest installing middleware on /graphql"
But not in the easy copy-and-paste part, since not everyone may use /graphql.

[2016-12-13 14:42] shongololo opened #74 "npm install optics-agent hangs with uuid module error"
When attempting to install using `npm install optics-agent`, installation will hang with the following error:
[code]
This is on ubuntu 16.04 with npm version 3.10.10

[2016-12-16 05:29] julian-rare opened #75 "Upgrade to graphql 0.7.2"
Currently fails trying to run optics with graphql 0.7.2

[2016-12-20 07:54] Crevil commented on #51
FYI: I've added typings to DefinitelyTyped until the project is migrated to Typescript:
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/13457

[2017-01-04 07:37] kesla commented on #62
See #78

[2017-02-04 07:27] guns2410 opened #81 "OPTICS Error trying to report to optics backend: self signed certificate"
I am trying to integrate Optics with my GraphQL client, however, I get the error on my dev machine.

[code]

P.S. It runs perfect on my production server

**Update**
error goes away by setting the env variable `NODE_TLS_REJECT_UNAUTHORIZED` to `0` but get error messages

[code]

[2017-02-13 21:54] clayne11 opened #84 "How to use with Meteor"
I tried adding the middleware by doing:

[code]

but I'm getting the error `Optics context not found. Make sure Optics middleware is installed.`

[2017-02-13 22:02] clayne11 commented on #84
I had to put the middleware before the GraphQL server. Seems to be working now.

[2017-02-13 22:02] #84 closed

[2017-02-13 23:21] n1mmy commented on #21
Fixed in #82

[2017-02-13 23:21] #21 closed

[2017-02-14 15:08] pcarrier commented on #84
Hi @clayne11, please note that we offer official support to our customers:
![support in the UI](https://cloud.githubusercontent.com/assets/8641/22934581/4aac3ab0-f284-11e6-82c3-4c847679d4d3.png)

[2017-02-14 15:12] pcarrier commented on #81
Hi @guns2410, this is quite interesting. Could you please provide us with the output of:

[code]

Please note that we offer official support to our customers through:
![support in Optics UI](https://cloud.githubusercontent.com/assets/8641/22934758/f727c2c8-f284-11e6-90a7-b4def019c4e2.png)

[2017-02-14 15:13] pcarrier commented on #75
Hi @julian-rare, Optics should work fine with graphql 0.7.2.

Could you please tell us more about the issues you are facing?

[2017-02-14 15:15] pcarrier commented on #74
Hi @shongololo, could you try again with `npm install optics-agent --verbose` and provide us with the output?

[2017-02-15 05:58] guns2410 commented on #81
Here is the output:

[code]

[2017-02-15 06:15] pcarrier commented on #81
@guns2410 are you using a proxy?

[2017-02-15 07:21] guns2410 commented on #81
No @pcarrier, I am not using any proxy. Also, output of `env|grep -i proxy` is `blank`

[2017-02-15 14:28] ntkach commented on #81
Exact same problem here.  Works just fine in prod, but not in "dev".  No, there's no proxy, nothing blocking that outbound connection.  It's something about the client failing even the handshake to the remote end at Apollo.  About the only difference I've noticed is prod resolves optics-report.apollodata.com to a different IP in dev
{code}
node -e "require('dns').lookup('optics-report.apollodata.c

[2017-02-15 14:42] pcarrier commented on #81
Thanks for the reports @ntkach and @guns2410.

I'd love to get one more piece of information, ideally from both of you.

On a machine where Optics is broken, could you please provide me with the output of this command (and the command itself), after replacing `172.217.6.115` with the IP collected from the `node -e [...]` command?

[code]

I'll then most likely escalate to the Google Cloud support

[2017-02-15 15:07] guns2410 commented on #81
@pcarrier

Here is the output:

[code]

Let me know if you need the certificate content as well.

[2017-02-15 15:12] pcarrier commented on #81
@guns2410 well that shows that `openssl` is perfectly happy with the certificate chain.

I am starting to suspect Node is unhappy that we include the root CA in the chain, which is redundant in the first place. I'll try to take it out.

In the meantime, @guns2410, could you please provide me with the output of this on a machine where you see the error (ideally confirming that the error is happenin

[2017-02-15 15:36] guns2410 commented on #81
Here you go @pcarrier

[code]

[2017-02-15 15:57] pcarrier commented on #81
This should be fixed now; could you confirm @guns2410?

[2017-02-15 16:03] guns2410 commented on #81
Getting the same error @pcarrier

`OPTICS Error trying to report to optics backend: self signed certificate`

[2017-02-15 16:08] pcarrier commented on #81
@guns2410 there might be a propagation delay with Google Frontend; let's double-check in 30mins or so please.

[2017-02-16 00:23] pcarrier commented on #81
Updating `optics-agent` shouldn't make a difference. This is an issue with Node, OpenSSL and Google.

@guns2410 any better?

[2017-02-16 03:43] guns2410 commented on #81
Having the same error @pcarrier 😢

[2017-02-16 04:12] pcarrier commented on #81
@guns2410 can you run `$ node -e "const host='optics-report.apollodata.com',conn=require('tls').connect({host:'216.58.220.211',port:443,servername:host,checkServerIdentity:(n)=>console.log(process.platform,process.version,n,conn.remoteAddress,conn.getPeerCertificate(true))},()=>conn.destroy())"
` again and provide me with the `<Very Very Long Text>` this time? The problem is probably in there.

[2017-02-16 04:42] guns2410 commented on #81
@pcarrier Here you go.

[code]

[2017-02-16 11:37] guns2410 commented on #81
@pcarrier Found that while I was using the [hotel](https://www.npmjs.com/package/hotel) npm package to run my dev apps, i get the error.

While running from the terminal, everything seems to be working now.

Thanks a lot for your help.

[2017-02-16 11:37] #81 closed

[2017-02-16 12:06] guns2410 commented on #81
for those who are using [hotel](https://www.npmjs.com/package/hotel) to run their dev setup, please follow [#157](https://github.com/typicode/hotel/issues/157)

[2017-02-16 19:14] pcarrier commented on #81
No worries. Looks like It was indeed http_proxy, we just couldn't see it when running node by hand :)

[2017-02-25 18:04] #62 closed

[2017-02-28 18:53] cmmcleod commented on #75
Maybe this should be [0.9.1](https://github.com/graphql/graphql-js/releases). Would be nice since 0.9.0 has some flow fixes.

[2017-02-28 19:57] pcarrier commented on #75
We are already compatible, as far as we can tell and claim in npm, with:

[code]

[2017-02-28 19:57] #75 closed

[2017-02-28 20:53] cmmcleod commented on #75
Peer dependencies aren't updated though

https://github.com/apollographql/optics-agent-js/blob/master/package.json#L39

[2017-02-28 21:31] pcarrier commented on #75
@cmmcleod oops sorry about that, thanks for the report. Published 1.1.1 with a fix.

[2017-03-10 21:55] sibelius opened #88 "does it work with relay server?"

[2017-03-10 22:08] rohit2b commented on #88
Hi @sibelius - Optics works with apps that use Relay on the client. Can you point me towards what kind of server you are using?

[2017-03-11 13:06] sibelius commented on #88
I've tried to add it here: https://github.com/entria/graphql-dataloader-boilerplate

it sad the optics context was missing

[2017-03-14 11:02] sibelius commented on #88
it does not work well with koa-graphql https://github.com/chentsulin/koa-graphql/blob/master/src/index.js#L100

I'll send a PR to fix this

[2017-03-15 23:15] rohit2b commented on #88
Thanks, will take a look at this

[2017-04-04 13:01] vanwalj opened #94 "Optics agent seems to prevent Node to shutdown"
Hello,

Since the latest version it seems that you intercept SIGINT without properly exiting

https://github.com/apollographql/optics-agent-js/commit/864134711e3ebfeb816091e187c46e5517e2df9f#diff-224869730a5b5fad7d7aa8feb091db60R92

Not a big deal, but it prevent my server from exiting when I CTRL+C for example ;)

[2017-04-11 21:51] rohit2b commented on #94
Thanks! We'll take a look at this.

[2017-04-12 18:35] greenkeeper[bot] opened #95 "An in-range update of graphql is breaking the build 🚨"
## Version **0.9.3** of [graphql](https://github.com/graphql/graphql-js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/optics-agent-js/compare/greenkeeper%2Fgraphql-0.9.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      graphql
    </td>
  </tr>
  <tr>
    <th align=le

[2017-04-28 21:31] glasser commented on #46
Slightly less optics-branded version:

We can have a simpler API: instead of an undocumented req._opticsContext and a required function OpticsAgent.context(), we can just document that the middleware puts an object on req.graphqlContext.opticsContext and make it your responsibility to pass that on to GraphQL.

This is similar to how, say, body-parser is a middleware that populates req.body.

Every

[2017-05-09 17:48] pcarrier commented on #95
Works fine here.

[2017-05-09 17:48] #95 closed

[2017-05-19 10:53] sonaye opened #96 "Usage with React Native"
Can Optics be integrated with React Native? I can see [here](https://github.com/apollographql/optics-agent-js#add-the-middleware) that a middleware is needed.

[2017-05-21 20:17] rohit2b commented on #96
Optics works with client apps written in React Native.

[This](https://github.com/apollographql/optics-agent-js#add-the-middleware) refers to GraphQL server middleware - for example Express and HAPI. There is no different server middleware needed for React Native.

[2017-05-22 07:34] gajus commented on #94
This one is ridiculously annoying, esp. in development environment.

For other stumbling across this, simply configure `shutdownGracefully: false` in development environment.

[2017-05-22 15:07] #96 closed

[2017-05-24 18:07] jangerhofer commented on #63
The age of this ticket suggests that Lambda integration is (understandably!) not a priority.

I am curious about how several of my Lambda-Apollo endpoints are running so I peeked under the hood at the [existing middleware](https://github.com/apollographql/optics-agent-js/blob/master/src/Instrument.js#L58) functions and, after digging into the functions there, I fear I'm out of my depth.

My curren

[2017-05-25 05:02] jamesone opened #97 "Optics backend error 502 log"
I've just setup optics locally & optics will randomly log this to the server: The log is not triggered by a request either, it must be polling the optics server?

[code]

Should I be concerned about this? Is it fine to just let these log?

Note that data is showing up on my optics admin dashboard!

[2017-05-26 05:00] #88 closed

[2017-05-26 05:21] rohit2b commented on #97
@jamesone at what frequency do you see these in your server logs?

The agent in your server does send a report to the Optics cloud service every minute.

[2017-05-26 16:46] stubailo commented on #46
I think this is a good simplification to make, and we can go even further, need to spend some time thinking about it.

[2017-05-27 20:04] Isigiel opened #100 "Add declaration file for TS"
TS complains when importing the Agent like `import OpticsAgent from 'optics-agent';`.

`Could not find a declaration file for module 'optics-agent'.`

Please either fix that or tell me where I went wrong.

[2017-05-29 22:06] pcarrier commented on #100
Hi @Isigiel, have you added the (third-party) type definitions from https://www.npmjs.com/package/@types/optics-agent ?

[2017-06-02 18:48] greenkeeper[bot] opened #102 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.4.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/optics-agent-js/compare/greenkeeper%2Feslint-plugin-import-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plug

[2017-06-06 22:34] greenkeeper[bot] opened #105 "An in-range update of graphql-tag is breaking the build 🚨"
## Version **2.2.2** of [graphql-tag](https://github.com/apollostack/graphql-tag) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/optics-agent-js/compare/greenkeeper%2Fgraphql-tag-2.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      graphql-tag
    </td>
  </tr>
  <tr>

[2017-06-06 23:14] #105 closed

[2017-06-06 23:14] #102 closed

[2017-06-14 19:31] jperl opened #107 "Use with SubscriptionServer"
How can you set this up to work with a purely websocket subscription server?

[2017-06-16 19:26] greenkeeper[bot] opened #108 "An in-range update of graphql-tag is breaking the build 🚨"
## Version **2.4.0** of [graphql-tag](https://github.com/apollostack/graphql-tag) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/optics-agent-js/compare/greenkeeper%2Fgraphql-tag-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      graphql-tag
    </td>
  </tr>
  <tr>

[2017-06-20 10:11] ridergoster opened #109 "reportVariables for Query and Mutation"
Hi there, I'm new to GraphQL and this project is very helpful !

I don't know if it will be a good feature or not, but should reportVariables be separated for Query and Mutation ? I would like to report the variables for query type, but keep the privacy on mutation variables. Or maybe there is already a way to do that ?

[2017-06-20 21:43] greenkeeper[bot] opened #110 "An in-range update of graphql is breaking the build 🚨"
## Version **0.10.2** of [graphql](https://github.com/graphql/graphql-js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/optics-agent-js/compare/greenkeeper%2Fgraphql-0.10.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      graphql
    </td>
  </tr>
  <tr>
    <th align=

[2017-06-20 23:36] vinicius73 opened #111 "Restify integration"
Hi, i use [graphql-server-restify](https://www.npmjs.com/package/graphql-server-restify) and [graphql-tools](https://github.com/apollographql/graphql-tools)

I tried several combinations but I could not integrate xxx with my application.
Do you have any examples of integration?

[2017-06-21 01:59] jatsrt commented on #63
@jangerhofer I may take a go at this.  To me it looks like you can simply setup your handler to call preRequest on entry into the handler, then wrap the default callback in another callback that calls postRequest.  Should just about do the trick.

[2017-06-21 13:01] jatsrt commented on #63
So because there is a setTimeout and a setInterval used in the code, without a fairly significant change, this is not going to be usable for lambda.

Would probably need to create a different library

sendSchema on lambda creation, this is done by initializing outside of the handler

sendReport on lambda completion, could just manually call this at the end of the handler

However, since these are

[2017-06-22 11:47] greenkeeper[bot] opened #112 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.5.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/optics-agent-js/compare/greenkeeper%2Feslint-plugin-import-2.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plug

[2017-07-12 06:53] jasonbahl commented on #45
This would be super helpful...I've been working a bit on a optics agent for WPGraphQL (php server) so knowing what data should be sent to the server would be super helpful.

[2017-07-13 23:35] #94 closed

[2017-07-14 16:08] jperl commented on #107
Bump

[2017-07-14 17:24] rohit2b commented on #107
@jperl - The Optics agent does not collect metrics or traces from a websocket subscription server.

[2017-07-21 12:25] scf4 commented on #107
This is a necessity IMO

[2017-07-21 12:30] scf4 opened #115 "Should the Koa example call instrumentSchema on every request?"
[code]

Surely this isn't right?

[2017-07-21 12:33] sibelius commented on #115
no need, you can do this outside the app.use

[2017-07-21 12:34] scf4 commented on #115
@sibelius Thanks, that's what I assumed. This is from the Koa example in README.md, I'll submit a PR.

[2017-07-21 12:34] #115 closed

[2017-07-24 05:08] greenkeeper[bot] opened #117 "An in-range update of eslint-config-airbnb-base is breaking the build 🚨"
## Version **11.3.0** of [eslint-config-airbnb-base](https://github.com/airbnb/javascript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/optics-agent-js/compare/greenkeeper%2Feslint-config-airbnb-base-11.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-confi

[2017-07-24 06:01] #108 closed

[2017-07-24 06:01] #110 closed

[2017-07-24 06:01] #112 closed

[2017-07-24 06:01] #117 closed

[2017-07-25 15:21] liyucun commented on #111
I had the same issue with this, and there is no implementation for restify yet...

[2017-07-26 15:34] michalsanger commented on #63
This lib needs better design. It's easy pluggable into express app, but once you would like to step out from this, you are done.

Workaround on AWS is to use https://github.com/awslabs/aws-serverless-express

Refactor this so custom stats sender can be used would be great. For example I'd like to push stats into SQS and send them into Optics later as batch

[2017-08-10 15:38] jperl commented on #107
Any ETA on this? We would love to use optics @zipdrug.

[2017-08-23 20:22] ravikiran438 opened #122 "Setting up middleware for multiple agents"
We have one graphql server handling requests for two different sites with their own schema. We did create a new OpticsAgent for each schema and setting the context per request.  But the only thing we would like clarify is setting up the middleware. Please check the code below:

    const buildSchema = (dbList, dbConnection) => {
      const schemaList = [];
      dbList.forEach((dbInfo) => {

[2017-08-28 08:27] mjasnikovs opened #123 "Missing exit/close on OpticsAgent"
I could not find how to close OpticsAgent connection. Node process keeps hanging.

[2017-09-06 15:48] zackify commented on #109
I added a pr to blacklist variables, maybe it will help. https://github.com/apollographql/optics-agent-js/pull/126

[2017-09-19 04:15] rad182 opened #127 "How integrate with apollo-server-lambda"
Hi, I'm currently using apollo-server-lambda and want to try out optics. How can I set this up with apollo-server-lambda? TIA

[2017-09-22 04:28] timbotnik commented on #97
@jamesone we just fixed an issue that was causing errors to print a little bit hastily (the intention is to wait until _all_ the retries fail before printing to the log).  Published in v1.1.7.

[2017-09-22 04:28] #97 closed

[2017-09-22 09:42] yangit opened #129 "Issue on production servers."
Today we had an issue on our prod servers.
I'm still looking into it but apparently optics middleware took down our graphql server with the following error logged to console.
[code]

Could this be?
Is not optics reporter isolated from optics middleware?

[2017-09-22 09:48] yangit commented on #81
Here is what i get from openssl.
Look at the last line.

[code]

[2017-09-22 12:20] rohit2b commented on #129
Hi @yangit - thanks for letting us know. What agent version are you using?

Can you please send these details into our Optics support at support@apollodata.com?

[2017-09-26 22:25] vincentdesmares opened #130 "OPTICS Backend error 406 Invalid PSK format"
We have this error showing in our logs.

Does someone have an idea to solve the problem?

Some details about the issue:

`Optic agent version : "1.1.6"`
`Server: Ubuntu 16.4.02 LTS (xenial)`

Regards.

[2017-09-26 23:47] #130 closed

[2017-09-26 23:48] vincentdesmares commented on #129
We also have this error showing in our logs.

With also

Does someone have an idea to solve the problem?

Some details about the issue:

Optic agent version : "1.1.6"
Server: Ubuntu 16.4.02 LTS (xenial)

Regards.

[2017-09-26 23:54] timbotnik commented on #129
@vincentdesmares there is a bug recently fixed in v1.1.7 that caused errors to be logged to the console prematurely (before performing retries).  We expect _some_ 502s and retries to the Optics ingress, so the issue is just that we were logging the error at the wrong time (causing concern for people who experience it).  Most likely it is nothing to worry about, and the logging issue should be fixe

[2017-09-26 23:55] timbotnik commented on #129
502 issue here: https://github.com/apollographql/optics-agent-js/issues/97

[2017-09-27 00:10] timbotnik commented on #129
@vincentdesmares a 406 error is likely due to a mistake in your API key.  Can you make sure that you have accurately copied the key to your server?

[2017-09-27 00:20] vincentdesmares commented on #129
It was indeed our key.

So a 406 means “invalid API key”.

Thanks for the quick support!

[2017-09-27 01:28] timbotnik commented on #129
@yangit can you provide the version of `optics-agent` you are using?  I am hoping that your issue is the same as #97 fixed by v1.1.7.

[2017-09-27 01:31] yangit commented on #129
It was indeed `1.1.6`
The issue we had with prod servers was that our logging system used to log `req` object by default.
And optics adds a lot of meta info under `req._opticsContext` key. So our logger ended up logging gigabytes of data and that completely stalled our prod server.

I logs I also saw the above message from optics which turned out to be unrelated to real issue.

Nobody to blame her

[2017-09-27 01:33] timbotnik commented on #129
@yangit Glad to hear that you found the root cause, and sorry for the red-herring in the logs!  Closing this issue now.

[2017-09-27 01:33] #129 closed

[2017-10-02 20:13] alexturek opened #131 "ReportVariables is true by default - very surprising behavior"
#126 is a good change, but IMO this should be default false. There are many bits of data (SSNs, API keys, other sensitive credentials) that shouldn't be sent automatically to Apollo's servers.

This should be a 2-line change (README and code), but I'd suggest that this is _very_ surprising behavior for people trying to play with Apollo Optics.

[2017-10-02 20:21] alexturek opened #132 "Ability to control which resolvers are instrumented"
This is an issue to talk about an approach; if Apollo folks agree to it, I can set up a PR.

We're running an application where the vast majority (95%+) of traffic is through a single mutation. I'd like the ability to blacklist that resolver and report all other resolvers' perf data. I think the most flexible way to set this up is probably via a callback, e.g.

[code]

That way the client of the l

[2017-10-11 15:39] zackify commented on #131
Any word on merging my PR so this can be used in production? I'm fine with defaulting to false, but it's been a month and still hasn't been merged :(

[2017-10-12 20:08] cdelgadob commented on #127
+1

[2017-10-13 11:38] hlehmann commented on #107
We also use Full WebSocket Transport, what is blocking optics ?

[2017-10-13 21:58] wmpay commented on #111
Has anyone had any luck getting this to work with restify?

[2017-11-01 15:38] thedodd commented on #68
Have you tried using a proxy?

[2018-01-05 17:52] lfender6445 opened #133 "Cannot connect to optics 502 error v 1.1.7"
When starting application:

[code]

here are the options being used by sendRequest in Report.js, with api key blurred out

[code]
We will be upgrading to engine soon. Is there a problem with the way we are connecting to optics?

I have verified we are using the correct API key

[2018-01-17 14:31] lfender6445 commented on #133
closing as we've since switched to optics.

[2018-01-17 14:31] #133 closed

[2018-03-26 22:06] cagdastulek opened #135 "Add `0.13.x` to peer dependencies"
Is it possible to update the peer dependency on optics-agent-js to support the latest version of graphql as otherwise we get the following error?

[code]

Thanks